@font-face {
    font-family: Inter-VariableFont;
    src: url("assets/fonts/Inter-VariableFont.ttf");
  }
@font-face {
    font-family: Merriweather-Bold;
    src: url("assets/fonts/Merriweather-Bold.ttf");
}

html {
    scroll-behavior: smooth; 
}
body{
    /* display: flex;
    flex-direction: column; */
    margin: 0;
    padding: 0;
}
.container {
    width: 1440px;
    margin: 0 auto;
}
.header{
    width: 100%;
    display: flex;
    font-size: 20px;
}
.header-container {
    background: url('./assets/img/header-bg.jpg');
    height: 90px;
    background-repeat: no-repeat;
    background-position: center 0;
}
.logo {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    transition: 0.3s;
    background-image: url('./assets/svg/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
.logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
  }
.nav {
    margin-left: 720px;
}
.nav-list {
    display: flex;
    gap: 30px;
    padding-left: 30px;
    font-family: Inter-VariableFont, sans-serif;
    font-size: 20px;
    line-height: 50px;
    list-style: none;
  }
.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
  }
.skills {
    width: 49px;
    height: 50px;
}
.portfolio {
    width: 81px;
    height: 50px;
}
.video {
    width: 55px;
    height: 50px;
}
.price {
    width: 48px;
    height: 50px;
}
.contacts{
    width: 86px;
    height: 50px;
    padding-right: 43px;
}
.en {
    color: #bdae82; 
}
.ru {
    color: #ffffff;
}
.en, .ru {
    background: inherit;
    border: none;
    font-family: Inter-VariableFont, sans-serif;
    font-size: 20px;
}
.switch-lng{
    width: 70px;
    height: 50px;
    padding-top: 30px;
    font-family: Inter-VariableFont, sans-serif;
    font-size: 20px;
    color:#ffffff;
}
.nav-item a {
    color: #ffffff;
    text-decoration: none;  
    transition: color 0.5s;
  }
.nav-item a:hover {
    color: #bdae82;
  }
.hero-container {
    padding-top: 160px;
    padding-left: 80px;
    padding-right: 860px;
    padding-bottom: 330px;
    background-image: url('./assets/img/header-bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
}
.hero-title {
    margin: 0;
    padding: 0;
    font-family: Merriweather-Bold, serif;
    font-size: 60px;
    line-height: 120px;
    color: #ffffff;
}
.hero-text {
    margin: 0;
    padding-top: 10px;
    width: 470px;
    height: 120px;
    font-family: Inter-VariableFont, sans-serif;
    font-size: 20px;
    line-height: 40px;
    color: #ffffff;
}
.hero-btn {
    width: 220px;
    height: 55px;
    margin-top: 25px;
    font-family: Inter-VariableFont, sans-serif;
    font-size: 20px;
    background-color: #bdae82;
}
h2 {
    margin: 0;
    padding: 0;
}
.section-title {
    width: 152px;
    margin: 0 auto;
    padding-top: 100px;
    font-family: Merriweather-Bold, serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #bdae82;
    background-color: #000000;
}
.section{
    background-color: #000000;
}
.div-title {
    margin: 0 auto;
    width: 48.61%;
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
}

.skills-items {
    display: flex;
    justify-content: space-around;
    padding-top: 4.1%;
    flex-wrap: wrap;
  }
.skill-item {
    background-position: center top;
    width: 320px;
    height: 240px;
    text-align: center;
    padding-top: 2px;
    color: #ffffff;
  } 
.item-title {
    padding-top: 100px;
    font-family: Inter-VariableFont, sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 40px;
}
.item-text{
    margin: 0 auto;
    padding-top: 20px;
    width: 280px;
    font-family: Inter-VariableFont, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
}
  
.skill-item:nth-child(1) {
    background-image: url('./assets/svg/camera.svg');
    background-repeat: no-repeat;
    background-size: 62px 50px;
  }
  .skill-item:nth-child(2) {
    background-image: url('./assets/svg/video.svg');
    background-repeat: no-repeat;
    background-size: 60px 50px;
  }
  .skill-item:nth-child(3) {
    background-image: url('./assets/svg/image.svg');
    background-repeat: no-repeat;
    background-size: 66px 50px;
  }
  .skill-item:nth-child(4) {
    background-image: url('./assets/svg/mic.svg');
    background-repeat: no-repeat;
    background-size: 32px 50px;
  }
p {
    margin: 0;
    padding: 0;
}
.portfolio-title {
    width: 220px;
}
.portfolio-section {
    padding-top: 1px;
}
.portfolio-btns {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 60px 0;
}
.btn-season {
    width: 220px;
    height: 55px;
    font-family: Inter-VariableFont, sans-serif;
    font-size: 20px;
    border: 3px solid #bdae82;
}
.btn-season:not(:last-child) {
    background-color: #000000;
    color: #bdae82;
}
.btn-season:last-child {
    background-color: #bdae82;
    color: #000000;
} 
.portfolio-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin: 0 auto;
}
.pictures {
    margin: 0;
    padding: 0;
}
.p-top {
    margin-top: -4px;
}
.video-title {
    margin-top: -4px;
}
.video-img {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
}
.video-player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.player-btn {
    background-image: url('./assets/svg/Play_hover.svg');
    background-repeat: no-repeat;
    background-color: inherit;
    border: none;
    width: 130px;
    height: 130px;
    position: absolute;
    top: 347px;
}
.player-btn:hover{
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}
.price-section {
    padding-bottom: 100px;
}
.price-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 56px;
} 
.price-item {
    width: 446px;
    height: 500px;
    border: 3px solid #bdae82;
}
.price-item-title {
    margin-top: 40px;
    font-family: Merriweather-Bold, serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 56px;
    text-align: center;
    color: #ffffff;
}
.dol-price {
    margin-top: 21px;
    font-family: Merriweather-Bold, serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: #bdae82;
}
.price-text{
    margin-top: 20px;
    font-family: Inter-VariableFont, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
}
.block {
    display: block;
}

.btn-price {
    width: 220px;
    height: 55px;
    margin-left: 112px;
    margin-top: 39px;
    background-color: #bdae82;
    border: none;
    font-family: Inter-VariableFont, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #000000;
}
.btns:hover  {
    color: #ffffff;
}
 
.contact-section-title {
    font-family: Merriweather-Bold, serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
    background-color: inherit;
    color: #bdae82;
} 
 .contacts-section{
    background: url('./assets/img/contacts.jpg');
    background-repeat: no-repeat;
    height: 700px;
  } 
.contact-container {
    width: 450px;
    height: 445px;
    padding-top: 60px;
    margin-left: 970px;
    
}
.email, .tel, .comment {
    padding-left: 16px;
    color: #bdae82;
    background-color: inherit;
    border: 2px solid #bdae82;
}

.email, .tel {
    width: 428px;
    height: 44px;
}
.comment {
    margin-top: 20px;
    width: 428px;
    height: 92px;
    resize: none;
}
.email {
    margin-top: 39px;
} 
.tel {
    margin-top:20px;
}
.email::placeholder {
    font-family: Inter-VariableFont, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #bdae82;
    font-size: 20px;
  }
.tel::placeholder {
    font-family: Inter-VariableFont, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #bdae82;
    font-size: 20px;
  }
.comment::placeholder {
    font-family: Inter-VariableFont, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #bdae82;
    font-size: 20px;
 }
.btn-contact {
    width: 220px;
    height: 55px;
    margin-top: 26px;
    background-color: #bdae82;
    border: none;
    font-family: Inter-VariableFont, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #000000;
}